:root {
    --card-background: hsl(216, 50%, 16%);
    --main-background: hsl(217, 54%, 11%);
    --line-color: hsl(215, 32%, 27%);
    --main-color: hsl(215, 51%, 70%);
    --accent-color: hsl(178, 100%, 50%);


    font-family: 'Outfit', sans-serif;
    font-size: 1.125em;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-background);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    max-width: 20.8rem;
    width: 90%;

    background-color: var(--card-background);
    padding: 1.5rem;
    border-radius: 1rem;

    color: var(--main-color);

    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    box-shadow: 0 2rem 2rem 0 hsl(216, 53%, 9%);

}

.card__image {
    width: 100%;
    aspect-ratio: 1;
    background: url("images/image-equilibrium.jpg");
    background-size: 100%;
    border-radius: 0.5rem;
    position: relative;
    overflow: hidden;
}

.card__image::before,
.card__image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.card__image::after {
    background: url("images/icon-view.svg") no-repeat center;
}

.card__image::before {
    background: var(--accent-color);
}

.card__image:hover::after {
    opacity: 1;
}

.card__image:hover::before {
    opacity: 0.5;
}

.card__title {
    font-size: 1.4rem;
    color: white;
    transition: all 0.2s ease-in-out;
}

.card__title:hover {
    color: var(--accent-color);
}

.card__description {
    line-height: 1.6rem;
}

.card__footer {
    width: 100%;
    display: flex;
    align-items: center;

    gap: 1rem;

    border-top: 1px solid var(--line-color);
    padding-top: 1.3rem;
}

.card__avatar {
    width: 10%;
    align-self: flex-start;
    border-radius: 50%;
    border: 1px solid white;
}

.accent {
    color: white;
    transition: all 0.2s ease-in-out;
}

.accent:hover {
    color: var(--accent-color);
}

.card__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.card__value {
    width: 50%;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    gap: 0.4rem;
}

.card__value--right {
    justify-content: flex-end;
}

.card__value--blue {
    color: var(--accent-color);
}